<div class="container page-content">
  <div class="row">
    <div class="col-sm-12 col-md">
      <h3>Part: {{part.itemName}}</h3>
      <h5><label>Item ID: </label>{{part.itemId}}</h5>
      <div><label>Item Type: </label>{{part.itemType}}</div>
      <div><label>Part Id: </label>{{part.partId}}</div>
      <div><label>Item Type: </label>{{part.itemType}}</div>
      <div><label>Item Name: </label>{{part.itemName}}</div>
      <div><label>Category: </label>{{part.category}}</div>
      <div><label>Category Name: </label>{{part.categoryName}}</div>
      <div><label>Weight: </label>{{part.weight}}</div>
      <div><label>Dimension X: </label>{{part.dimensionX}}</div>
      <div><label>Dimension Y: </label>{{part.dimensionY}}</div>
      <div><label>Dimension Z: </label>{{part.dimensionZ}}</div>
      <div><label>Image: </label></div>
      <div><img src='{{part.imageLink}}' style="max-height:150px;" /></div>
      <div><label>Icon link: </label></div>
      <div><img src='{{part.iconLink}}' /></div>
    </div>
  </div>
</div>
