.parts {
    display: block;
    position:relative;
    padding-inline-start: 0px;
}
.lego-item{
    box-sizing: border-box;
    display:block;
    color: rgb(33, 37, 41);
    margin: 6px 0px 6px 0px;
    float:left;
    width: 45%;
    min-width:400px;
    padding-inline-start:1px;
}

.lego-item-detail {
    background-color: white;
    border: rgb(204,204,204) solid 1px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display:block;
    left:0px;
    padding: 16px;
}

.badge {
    text-align: left;
    font-size: 12pt;
}
.image {
    width:100px;
    height:100px;
    border: 1px solid black;
}
.discription {
    vertical-align: top;
    padding-left:
}

.clear-fix {
    clear:both;
}
