.parts {
    display: block;
    position:relative;
}
.lego-item{
    box-sizing: border-box;
    display:block;
    color: rgb(33, 37, 41);
    margin: 16px 0px 16px 0px;
    position: relative;
}

.lego-item-detail {
    background-color: white;
    border: rgb(204,204,204) solid 1px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display:block;
    left:0px;
    padding: 16px;
    position: relative;
    width: 45%;
}